<a href="https://cdn.m0b1.dev/{{ image }}?class=source">
	<figure class="no-caption">
		<img
			alt="{{ image }}"
			src="https://cdn.m0b1.dev/{{ image }}?class=thumbnail"
			loading="{{ loading | default: 'lazy' }}"
			width="640"
			height="{{ height | default: '360' }}"
		>
	</figure>
</a>
